In [4]:
range(0,5)

range(0, 5)

In [5]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
range(1,10)

range(1, 10)

In [9]:
range(1,10,2)

range(1, 10, 2)

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [11]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [12]:
## strings

str="Utkarsh Tyagi"
for i in str:
    print(i)

U
t
k
a
r
s
h

T
y
a
g
i

In [13]:
## while loop 
count=0
while(count<5):
    print(count)
    count=count+1

0
1
2
3
4

In [15]:
## loop control statement
## break

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [20]:
## continue
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [22]:
## pass
for i in range(10):
    if i==3:
        print("The number is ",i)
        pass
    print(i)

0
1
2
The number is  3
3
4
5
6
7
8
9

In [23]:
## nested loops 

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [26]:
n=10
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1
    
print(f"Sum of first {n} natural number is",sum)

Sum of first 10 natural number is 55

In [28]:
sum=0
for i in range(11):
    sum=sum+i
    
print("sum=",sum)

sum= 55

In [29]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97